.email-container,
.github-container,
.phone-container,
.linkedin-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.email,
.github,
.phone,
.linkedin {
  margin-left: 10px;
  font-size: 30px;
}
